.homepage{
    background-color: var(--background);
    min-height: 100%;
    overflow: hidden;
    background-image: url('/mapbg.webp');
    color: var(--foreground);
}

.hero{
    width: 100%;
    min-height: 93vh;
}
