.homepage{
    background-color: var(--background);
    min-height: 100%;
    overflow: hidden;
    color: var(--foreground);
}

.car-section{
    min-height: 60vh;
    background-color: var(--foreground);
}

.inputs{
    min-height: 100%;
}