.footer {
  background-color: var(--foreground);
  color: var(--background); 
  text-align: center;
  padding: 20px 10px;
  font-size: 0.95rem;
  border-top: 1px solid #e0e0e0;
  width: 100%;
  margin-top: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
    flex-shrink: 0;
}